@media (min-width: 1440px) {
    .VPDoc:not(.has-sidebar) .content {
        max-width: 1440px !important;
    }
}

@font-face {
    font-family: 'google';
    src: url('/medium.ttf');
    font-style: normal;
    font-weight: 400;
}
